<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joel.represent">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Represent!"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Represent!">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".congressionalView"
            android:label="View Representatives"
            android:theme="@style/AppTheme"/>
        <activity android:name=".FromWatchDetailed"
            android:label="fromWatch"/>
        <activity android:name=".DetailedView"
            android:label="detail"
            android:theme="@style/AppTheme"/>
        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service android:name=".PhoneListenerService"
            android:label="Represent!">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
